.encabezadoformulario{
    background-color:rgb(120, 113, 255);
    color: white;
    margin-left:1%;
    margin-right:1%;
    padding:1%;
    border-top-left-radius:20%;
    border-bottom-right-radius:20%;
}

form{
    background-color:rgb(32, 61, 129) ;
    color: rgb(255, 255, 255) ;
    margin:1%;
    padding:8%;
    border-top-right-radius:20%;
    border-bottom-left-radius:20%;
}

article{
    background-color:rgb(255, 230, 0);
    margin:1%;
    padding:1%;
    border-top-right-radius:20%;
    border-bottom-left-radius:20%;
}

input[type="text"]:focus{
 background-color:rgb(255, 230, 0);
}

input[type="email"]:focus{
background-color:rgb(255, 230, 0);
}

input[type="tel"]:focus{
background-color:rgb(255, 230, 0);
}

input[type="number"]:focus{
background-color:rgb(255, 230, 0);
}

textarea:focus{
background-color:rgb(255, 230, 0);
}

input[type="datetime-local"]:focus{
background-color:rgb(255, 230, 0);
}

input[type="submit"]:focus{
background-color:rgb(255, 230, 0);
}

input[type="reset"]:focus{
background-color:rgb(255, 230, 0);
}
input[type="submit"]:hover{
background-color:rgb(255, 230, 0);
}

input[type="reset"]:hover{
background-color:rgb(255, 230, 0);
}

input[type="text"]:hover{
 background-color:rgb(255, 230, 0);
}

input[type="email"]:hover{
background-color:rgb(255, 230, 0);
}

input[type="tel"]:hover{
background-color:rgb(255, 230, 0);
}

input[type="number"]:hover{
background-color:rgb(255, 230, 0);
}

textarea:hover{
background-color:rgb(255, 230, 0);
}

input[type="datetime-local"]:hover{
background-color:rgb(255, 230, 0);
}

input[type="submit"]:hover{
background-color:rgb(255, 230, 0);
}






















*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
     font-size: large;
}

a:hover{

color:rgb(255, 153, 0) ;
}

a:visited{
color: rgb(255, 230, 0);
}



.footercontacto{
    background-color:rgb(120, 113, 255);
    color:white;
    text-align: center;
    height: 20%;
    width:98%;
    border-top-left-radius: 20%;
    margin-right: 1%;
    margin-left: 1%;
    padding-top:1%;
    padding-bottom: 1%;
}

.h3footer{
    font-size:150%;
}

#contacto{
    background-color:rgb(120, 113, 255);
    color: rgb(255, 230, 0);
    text-align: center;
    height: 20%;
    width:98%;
    margin-right: 1%;
    margin-left: 1%;
    padding-top:1%;
    padding-bottom:1%;
    display:flex;

}

.cajasfooter1{
    justify-content: center;
    align-items:center;
    width:40%;
    height:20%;
    margin-left:10%;
    margin-right:10%;
    padding-top:1%;
    background-color:rgb(255, 255, 255);
    border-top-right-radius: 20%;
    border-bottom-left-radius: 20%;

}

.cajasfooter2{
    justify-content: center;
    align-items:center;
    margin-left:2%;
    margin-right:10%;
    width:20%;
    height:20%;
    padding-top:1%;
    padding-bottom:1%;
    background-color:rgb(255, 230, 0);
    border-bottom-right-radius: 20%;
    border-top-left-radius: 20%;
}


.footercopy{
background-color:rgb(120, 113, 255);
color:rgb(32, 61, 129) ;
border-bottom-right-radius: 20%;
height: 20%;
width:98%;
margin-right: 1%;
margin-left: 1%;
padding-top:1%;
padding-bottom: 1%;
text-align:center;
}

header{
background-color:rgb(120, 113, 255);
color: white;
text-align: center;
font-family: Verdana, Geneva, Tahoma, sans-serif;

font-weight:bold;
height:20% ;
width: 98%;
margin-left:1%;
margin-right:1%;
padding-top:1%;
padding-bottom: 1%;
border-bottom-right-radius: 20%;
border-top-left-radius: 20%;
}

.h1header, .h2header{
font-size:200%;
}

.enlaces {
    background-image: url("images/champions.png");
    background-color:rgb(255, 255, 255);
    width: 30%;
    height: 30%;
    margin-left:4%;
    padding-top:1%;
    padding-bottom:2%;
    border-top-right-radius: 20%;
    border-bottom-left-radius: 20px; 
    list-style-type: none;
}
.navheader{
     background-color:rgb(255, 230, 0);
     border: solid 10px rgb(255, 230, 0);
     border-top-right-radius: 20%;
     border-bottom-left-radius: 20px;
     height:20%;
     width: 97%;
     margin-left:1%;
    margin-right:1%;
    margin-top: 15px;
    margin-bottom:15px;
    display:flex;

}

.navgihun{
background-color:rgb(255, 255, 255) ;
margin-left:22%;
width:30%;
margin-top:1%;
margin-bottom:1%;
padding-top:2%;
padding-bottom:2%;
border-bottom-left-radius: 20%;
border-top-right-radius:20% ;
display:flex;
}

 .gihun{
justify-content:center;
margin-left:25%;
width:50%;
border-bottom-left-radius: 20%;
border-top-right-radius:20% ;
 }