

#fundacion{
background-color:rgb(32, 61, 129) ;
height:auto;
margin-left:1%;
margin-right: 1%;
margin-bottom: 1%;
padding:1%;
border-bottom-right-radius: 20%;
text-align:center;
}

.divfundacion{
display: flex;
background-color:rgb(32, 61, 129) ;
border-top-left-radius: 20%;
margin-left:1%;
margin-right:1%;
}

.divjugadores{
display: flex;
background-color:rgb(32, 61, 129) ;
border-top-right-radius: 20%;
margin-left:1%;
margin-right:1%;
}

.h3jugadores{
    color:rgb(255, 255, 255);
    justify-content:center;    
    text-align: center;
    padding:1%;
    width:92%;
    text-decoration:underline;
    font-size:200%;
}


.h3fundacion{
color:rgb(255, 255, 255);
    justify-content:center;    
    text-align: center;
    padding:1%;
    width:92%;
    text-decoration:underline;
    font-size:200%;
}

.h1primerosanos{
    color:rgb(255, 255, 255);
}

.fundacionprimerosanos{
display: flex;
width:92%;
height:auto;
margin:1%;
padding:1%;
}

.fundacioncaja1{
justify-content: center;
align-items: center;
color: rgb(255, 230, 0);
margin-left:5%;
}

.fundacioncaja2{
align-content: center;
justify-content: center;
padding-left:5%;
padding-right: 5%;
margin-left:5%;
border-top-left-radius: 20%;
border-bottom-right-radius: 20%;
background-color:rgb(120, 113, 255);
}

.fundacioncolores{
display: flex;
width:92%;
height:auto;
margin:1%;
padding:1%;
}

.colorescaja1{
justify-content: center;
align-items: center;
color: rgb(255, 230, 0);
}

.colorescaja2{
align-content: center;
justify-content: center;
padding-left:5%;
padding-right: 5%;
margin-left:5%;
border-top-left-radius: 20%;
border-bottom-right-radius: 20%;
background-color:rgb(120, 113, 255);
}

.h4fundacioncolores{
    color:white;
}

#jugadores{
background-color:rgb(32, 61, 129) ;
height:auto;
margin-left:1%;
margin-right: 1%;
padding:1%;
margin-bottom:1%;
border-bottom-left-radius: 20%;
text-align:center;
}

.mejoresjugadores{
display: flex;
width:92%;
height:auto;
margin:1%;
padding:1%;
}

.jugadorescaja1{
justify-content: center;
align-items: center;
color: rgb(255, 230, 0);
}

.jugadorescaja2{
align-content: center;
justify-content: center;
padding-left:5%;
padding-right: 5%;
margin-left:5%;
border-top-right-radius: 20%;
border-bottom-left-radius: 20%;
background-color:rgb(120, 113, 255);
}

.iconosblancos{
display: flex;
width:92%;
height:auto;
margin:1%;
padding:1%;
}

.iconoscaja1{
justify-content: center;
align-items: center;
color: rgb(255, 230, 0);
margin-left:5%;
}

.iconoscaja2{
align-content: center;
justify-content: center;
padding-left:5%;
padding-right: 5%;
margin-left:5%;
border-top-right-radius: 20%;
border-bottom-left-radius: 20%;
background-color:rgb(120, 113, 255);
}

.h4iconosblancos{
color:white;
}

.h4mejoresjugadores{
color:white;
}












*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
     font-size: large;
}

a:hover{

color:rgb(255, 153, 0) ;
}

a:visited{
color: rgb(255, 230, 0);
}

a{
    color:rgb(120, 113, 255);
}

.footercontacto{
    background-color:rgb(120, 113, 255);
    color:white;
    text-align: center;
    height: 20%;
    width:98%;
    border-top-left-radius: 20%;
    margin-right: 1%;
    margin-left: 1%;
    padding-top:1%;
    padding-bottom: 1%;
}

.h3footer{
    font-size:150%;
}

#contacto{
    background-color:rgb(120, 113, 255);
    color: rgb(255, 230, 0);
    text-align: center;
    height: 20%;
    width:98%;
    margin-right: 1%;
    margin-left: 1%;
    padding-top:1%;
    padding-bottom:1%;
    display:flex;

}

.cajasfooter1{
    justify-content: center;
    align-items:center;
    width:40%;
    height:20%;
    margin-left:10%;
    margin-right:10%;
    padding-top:1%;
    background-color:rgb(255, 255, 255);
    border-top-right-radius: 20%;
    border-bottom-left-radius: 20%;

}

.cajasfooter2{
    justify-content: center;
    align-items:center;
    margin-left:2%;
    margin-right:10%;
    width:20%;
    height:20%;
    padding-top:1%;
    padding-bottom:1%;
    background-color:rgb(255, 230, 0);
    border-bottom-right-radius: 20%;
    border-top-left-radius: 20%;
}


.footercopy{
background-color:rgb(120, 113, 255);
color:rgb(32, 61, 129) ;
border-bottom-right-radius: 20%;
height: 20%;
width:98%;
margin-right: 1%;
margin-left: 1%;
padding-top:1%;
padding-bottom: 1%;
text-align:center;
}

header{
background-color:rgb(120, 113, 255);
color: white;
text-align: center;
font-family: Verdana, Geneva, Tahoma, sans-serif;
font-size: large;
height:20% ;
width: 98%;
margin-left:1%;
margin-right:1%;
padding-top:1%;
padding-bottom: 1%;
border-bottom-right-radius: 20%;
border-top-left-radius: 20%;
}

.enlaces {
    background-image: url("images/champions.png");
    background-color:rgb(255, 255, 255);
    width: 30%;
    height: 30%;
    margin-left:4%;
    padding-top:1%;
    padding-bottom:1%;
    border-top-right-radius: 20%;
    border-bottom-left-radius: 20px; 
    list-style-type: none;
}
.navheader{
     background-color:rgb(255, 230, 0);
     border: solid 10px rgb(255, 230, 0);
     border-top-right-radius: 20%;
     border-bottom-left-radius: 20px;
     height:20%;
     width: 97%;
     margin-left:1%;
    margin-right:1%;
    margin-top: 15px;
    margin-bottom:15px;
    display:flex;

}

.navgihun{
background-color:rgb(32, 61, 129) ;
margin-left:22%;
width:30%;
margin-top:1%;
margin-bottom:1%;
padding-top:2%;
padding-bottom:2%;
border-bottom-left-radius: 20%;
border-top-right-radius:20% ;
display:flex;
}

 .gihun{
justify-content:center;
margin-left:25%;
width:50%;
border-bottom-left-radius: 20%;
border-top-right-radius:20% ;
 }