*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
     font-size: large;
}


.belen{
border-radius:50px;
background-color: rgb(255, 0, 0);
width: 80px;
height: 80px;
position: fixed;
bottom: 0;
right: 0;
}

.belenfoto{
border-radius:50px;
width: 80px;
height: 80px;
}


a:hover{


color:rgb(255, 153, 0) ;
}


a:visited{
color: rgb(255, 230, 0);
}


a{
    color:rgb(120, 113, 255);
}


.footercontacto{
    background-color:rgb(120, 113, 255);
    color:white;
    text-align: center;
    text-align: center;
    height: 20%;
    width:98%;
    border-top-right-radius: 20%;
    margin-right: 1%;
    margin-left: 1%;
    padding-top:1%;
    padding-bottom: 1%;
}


.h3footer{
    font-size:150%;
}


#contacto{
    background-color:rgb(120, 113, 255);
    color: rgb(255, 230, 0);
    text-align: center;
    height: 20%;
    width:98%;
    margin-right: 1%;
    margin-left: 1%;
    padding-top:1%;
    padding-bottom:1%;
    display:flex;


}


.cajasfooter1{
    justify-content: center;
    align-items:center;
    width:40%;
    height:20%;
    margin-left:10%;
    margin-right:10%;
    margin-bottom: 1%;
    padding-top:1%;
    background-color:rgb(255, 255, 255);
    border-top-right-radius: 20%;
    border-bottom-left-radius: 20%;


}


.cajasfooter2{
    justify-content: center;
    align-items:center;
    margin-left:2%;
    margin-right:10%;
    width:20%;
    height:20%;
    padding-top:1%;
    padding-bottom:1%;
    background-color:rgb(255, 230, 0);
    border-bottom-right-radius: 20%;
    border-top-left-radius: 20%;
}




.footercopy{
background-color:rgb(120, 113, 255);
color:rgb(32, 61, 129) ;
border-bottom-left-radius: 20%;
height: 20%;
width:98%;
margin-right: 1%;
margin-left: 1%;
padding-top:1%;
padding-bottom: 1%;
text-align:center;
}


header{
background-color:rgb(120, 113, 255);
color: white;
text-align: center;
font-family: Verdana, Geneva, Tahoma, sans-serif;
font-size: large;
height:20% ;
width: 98%;
margin-left:1%;
margin-right:1%;
padding-top:1%;
padding-bottom: 1%;
border-bottom-right-radius: 20%;
border-top-left-radius: 20%;
}


.h1header, .h2header{
font-size:200%;
}




.enlaces {
    background-image: url("images/champions.png");
    background-color:rgb(255, 255, 255);
    color:rgb(120, 113, 255);
    width: 30%;
    height: 30%;
    margin-left:4%;
    margin-top:3%;
    border-top-right-radius: 20%;
    border-bottom-left-radius: 20px;
    list-style-type: none;
    padding-top: 1%;
    padding-bottom:1%;
}


.bernabeu{
    list-style-type: none;
    margin-left:150%;
}


.navheader{
     background-color:rgb(255, 230, 0);
     border: solid 10px rgb(255, 230, 0);
     border-top-right-radius: 20%;
     border-bottom-left-radius: 20px;
     height:20%;
     width: 97%;
     margin-left:1%;
    margin-right:1%;
    margin-top: 15px;
    margin-bottom:15px;
    display:flex;


}


.section{
    background-color:rgb(32, 61, 129) ;
    color: rgb(255, 230, 0);
    height:20% ;
    width: 92%;
    padding: 3%;
    margin-left:1%;
    margin-right:5%;
    border-bottom-right-radius: 20%;
    display:flex;
   
}


.divcontenedor{
display: flex;
background-color:rgb(32, 61, 129) ;
border-top-left-radius: 20%;
margin-left:1%;
margin-right:1%;
}


.h1historia{  
    color:rgb(255, 255, 255);
    justify-content:center;    
    text-align: center;
    padding:1%;
    width:92%;
    font-size:150%;


}


.presentacion{
    justify-content:center;
    align-items: end;
    text-align:center;
    width:90%;
    height:20%;
    margin:2%;


}


.main{
    display: flex;
    background-color:rgb(32, 61, 129);
    width: 98%;
    height:20%;
    margin-left:1%;
    margin-right:1%;
    margin-top: 15px;
    margin-bottom:15px;
    border-top-right-radius: 20%;
    border-bottom-left-radius: 20px;
}


.palmarestitulo{
    color:white;
}
.palmares{
    background-color:rgb(120, 113, 255);
    color:rgb(255, 230, 0);
    width: 90%;
    height:20%;
    padding: 5%;
    margin:5%;
    border-top-right-radius: 20%;
    border-bottom-left-radius: 20px;
}


.futurotitulo{
    color:rgb(32, 61, 129);
}
.futuro{
    background-color:rgb(255, 230, 0);
    color:rgb(120, 113, 255);
    width: 90%;
    height:20%;
    margin:5%;
    padding: 5%;
    border-top-right-radius: 20%;
    border-bottom-left-radius: 20px;
}


.svg{
    background-color: white;
    margin:5%;
    padding: 5%;
    width: auto;
    height: auto;
    border-top-right-radius: 20%;
    border-top-left-radius: 20%;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;


}


.aside{
display: flex;
background-color:rgb(32, 61, 129);
width:98%;
height:20%;
margin-left: 1%;
margin-bottom:1% ;
border-top-left-radius: 20%;
border-bottom-right-radius:20%;
}


.enlacesdeinteres{
    margin-left:15%;
    margin-right: 10%;
}


li{
list-style-type: none;
}




.datoscuriosos{
color:rgb(255, 230, 0);
}


.asidetitulos{
    color:white;
    text-align:center;
}
